.dashboardContainer header{margin: 10px 10px 50px 10px;}
.dashboardContainer h1{font-size: 45px;}
.dashboardMain{height: 100vh; flex-grow: 1; padding: 25px 15px 25px 0; overflow-x: hidden;}

.dashboardMain header{justify-content: space-between;}
.dashboardMain header button img{width: 25px;}
.dashboardMain .subtitle{align-items: center; gap: 15px;}

.securityBadge{
    width: max-content;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--chinese-white);
}
.securityBadge img{width: 15px;}