.cardContainer{display: flex; gap: 15px; grid-auto-rows: minmax(60px, auto);}
.columnContainer{gap: 15px;}

.masonryItem{
    padding: 16px;
    border: 1px solid var(--chinese-white);
    border-radius: 8px;
    color: #777;
    background: white;
    user-select: none;
}
.masonryItem.dragging{opacity: 0.4; background: green;}
.masonryItem .dragHandle{
    width: 20px; height: 20px;
    position: absolute;
    top: 5px; right: 3px;
    border-radius: 5px;
    cursor: grab;
}

.placeholder{border-radius: 10px; border: 2px dashed var(--chinese-white);}