.cardContainer{display: flex; gap: 15px; flex-direction: row wrap;}
.columnContainer{display: flex; flex-direction: column; flex: 1; gap: 15px;}


/*** CARD STYLES ***/
.masonryItem{
    min-height: 60px;
    flex-grow: 1;
    padding: 16px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--primary-text-color);
    background: var(--card-color);
    user-select: none;
}
.masonryItem.dragging{opacity: 0.4; background: green;}
.masonryItem .dragHandle{
    width: 25px; height: 25px;
    position: absolute;
    top: 5px; right: 3px;
    border-radius: 5px;
    cursor: grab;
}

.header{justify-content: space-between; margin-bottom: 10px;}
.header label{
    font-size: 20px;
    color: var(--primary-text-color);
}
.header .dots{width: 15px; transform: rotate(90deg);}
.header .dots *{stroke: var(--icon-color); fill: var(--icon-color);}

/*
 *  NOTE: Standard placeholder colors
 *   - Border: HEX #3390FF
 *   - Background: RGBA(51, 144, 255, 0.25)
 */
.placeholder{border-radius: 10px; border: 2px dashed var(--guppie-green); background-color: rgba(18, 255, 98, .25);}



/*** RESPONSIVE ***/

@media screen and (max-width: 900px){
  .cardContainer{flex-direction: column;}
}