.cardContainer{display: flex; gap: 15px; flex-direction: row wrap;}
.columnContainer{gap: 15px;}


/*** CARD STYLES ***/
.masonryItem{
    min-height: 60px;
    flex-grow: 1;
    padding: 16px;
    border: 1px solid var(--chinese-white);
    border-radius: 8px;
    color: #777;
    background: white;
    user-select: none;
}
.masonryItem.dragging{opacity: 0.4; background: green;}
.masonryItem .dragHandle{
    width: 20px; height: 20px;
    position: absolute;
    top: 5px; right: 3px;
    border-radius: 5px;
    cursor: grab;
}

.header{justify-content: space-between; margin-bottom: 10px;}
.header label{
    font-size: 20px;
    color: black;
}
.header img.dots{width: 15px; transform: rotate(90deg);}

/*
 *  NOTE: Standard placeholder colors
 *   - Border: HEX #3390FF
 *   - Background: RGBA(51, 144, 255, 0.25)
 */
.placeholder{border-radius: 10px; border: 2px dashed var(--guppie-green); background-color: rgba(18, 255, 98, .25);}