.securityBadge{
    width: max-content;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 15px;
    background: var(--chinese-white);
}
.securityBadge.active{background-color: #AAE1C9;}
.securityBadge img{width: 15px;}