*{margin: 0; padding: 0; box-sizing: border-box; font-family: "PT Sans", Calibri, Tahoma, sans-serif;}
::selection{color: var(--vampire-black); background: var(--guppie-green);}

:root{
  --vampire-black: #080E08;
  --alice-blue: #F0F3FF;
  --guppie-green: #12FF62;
  --violets-are-blue: #8B5DFF;

  --chinese-white: #E0E0E0;
}

.flex{display: flex;}
.row{flex-flow: row wrap;}
.column{flex-flow: column wrap;}
.center-flex{display: flex; align-items: center; justify-content: center;}
.center-grid, a{display: grid; place-items: center;}

a{text-decoration: none; color: var(--violets-are-blue);}
button{display: grid; border: none; outline: none; background: none; cursor: pointer;}
ul{list-style-type: none;}
img{width: 30px;}